html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #e6f7ff;
  font-family: arial;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #7b107b;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  margin: 0 0 20px 0;
  padding: 1em 0 1em 0;
}

.header img {
  display: block;
  height: 125px;
  margin: auto;
}

h1 {
  color: white;
  display: block;
  font-size: 4em;
  padding: 1em;
  text-align: center;
}

h2 {
  font-size: 1em;
  margin: auto auto auto 20em;
  text-align: center;
}

h3 {
  float: left;
  margin-top: 5px;
  min-width: 280px;
  padding-left: 10px;
}

h4 {
  float: left;
  margin-top: 10px;
  padding-left: 10px;
}

p {
  float: left;
  margin-top: 0;
  padding-left: 10px;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.mainproject {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
  padding: 1em;
}

.mainprojectcontent {
  height: 375px;
}

.mainproject .mainprojectcontent img {
  border-radius: 0.25em;
  float: left;
}

.subdiv {
  background-color: white;
  background-position: center bottom;
  background-size: cover;
  border-radius: 0.25em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  float: left;
  height: 20em;
  margin: 0 0.25em 1em 0;
  overflow: hidden;
  width: 32%;
}

.subdiv img {
  border-radius: 4px;
  height: 180px;
  margin: 5px;
  min-width: 276px;
}

.content-image {
  height: 300px;
}
